<div class="actions-buttons">
  <button
    mat-raised-button
    color="success"
    (click)="resetModel(site.operation.add); displayAdd(showAdd)"
    *ngIf="
      (tokenValues.userLoggedIn && tokenValues.isDeveloper) ||
      (tokenValues.permissionsList &&
        tokenValues.permissionsList.includes(permissionsNames.addUser))
    "
    class="m-1"
  >
    {{ 'Actions.Add' | translate }}
    <mat-icon>add</mat-icon>
  </button>

  <button
    mat-raised-button
    color="search"
    (click)="resetModel(site.operation.search); displaySearch(showSearch)"
    class="m-1"
  >
    {{ 'Actions.Search' | translate }}
    <mat-icon>search</mat-icon>
  </button>

  <button
    mat-raised-button
    color="info"
    (click)="exportDataToExcel('usersList', 'users')"
    [disabled]="busy"
    class="m-1"
    *ngIf="
      tokenValues.userLoggedIn &&
      tokenValues.permissionsList &&
      tokenValues.permissionsList.includes(permissionsNames.exportUsers)
    "
  >
    {{ 'Actions.Export' | translate }}
    <mat-icon>import_export</mat-icon>
  </button>
</div>

<ng-template #showAdd>
  <fieldset>
    <div class="model-header">
      <p class="text-center" *ngIf="actionType === site.operation.add">
        {{ 'Actions.Add' | translate }}
      </p>
      <p class="text-center" *ngIf="actionType === site.operation.update">
        {{ 'Actions.Update' | translate }}
      </p>
    </div>

    <form #addUsersForm="ngForm">
      <fieldset >
        <legend >
          <p class="legend">
            {{ 'Legends.Basic-Informations' | translate }}
          </p>
        </legend>

        <div class="row">
          <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-sm-12">
            <mat-label>{{ 'Forms.Name' | translate }} </mat-label>
            <input
              matInput
              [(ngModel)]="user.name"
              placeholder="{{ 'Forms.Name' | translate }}"
              name="user-name"
              minlength="{{ inputLength.name }}"
              required
              autocomplete="off"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-sm-12">
            <mat-label>{{ 'Forms.Mobile' | translate }} </mat-label>
            <input
              matInput
              [(ngModel)]="user.mobile"
              placeholder="{{ 'Forms.Mobile' | translate }}"
              name="mobile"
              minlength="{{ inputLength.mobile }}"
              maxlength="{{ inputLength.mobile }}"
              required
              autocomplete="off"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-sm-12">
            <mat-label>{{ 'Forms.Email' | translate }} </mat-label>
            <input
              matInput
              [(ngModel)]="user.email"
              placeholder="{{ 'Forms.Email' | translate }}"
              name="email"
              minlength="{{ inputLength.email }}"
              autocomplete="off"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-sm-12">
            <mat-label>{{ 'Forms.Password' | translate }}</mat-label>
            <input
              matInput
              type="password"
              placeholder="{{ 'Forms.Password' | translate }}"
              minlength="{{ inputLength.password }}"
              [(ngModel)]="user.password"
              name="password"
              autocomplete="off"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-sm-12">
            <mat-label>{{ 'Forms.Language' | translate }} </mat-label>
            <mat-select
              matNativeControl
              [(ngModel)]="user.language"
              required
              name="language"
            >
              <mat-option [value]="lang" *ngFor="let lang of languagesList">{{
                lang.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-checkbox
              [(ngModel)]="user.active"
              name="primary-status"
              color="primary"
            >
              {{ 'Forms.Active' | translate }}
            </mat-checkbox>
          </div>
        </div>
        <fieldset>
          <legend>
            <p class="legend">{{ 'Menu.Routes' | translate }}</p>
          </legend>

          <fieldset *ngFor="let route of user.routesList; let i = index">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <mat-checkbox
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="route.active"
                name="primary-status"
                color="primary"
              >
                {{ route?.ar }}
              </mat-checkbox>
            </div>

            <fieldset *ngIf="route.active">
              <legend>
                <p class="legend">{{ 'Menu.Permissions' | translate }}</p>
              </legend>
              <div class="row">
                <div
                  class="col-lg-4 col-md-6 col-sm-12"
                  *ngFor="let permission of route.permissionsList"
                >
                  <div class="col">
                    <mat-checkbox
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="permission.active"
                      name="primary-status"
                      color="primary"
                    >
                      {{ permission?.ar }}
                    </mat-checkbox>
                  </div>
                </div>
              </div>
            </fieldset>
          </fieldset>
        </fieldset>
      </fieldset>
      <div class="actions-buttons">
        <button
          mat-raised-button
          [mat-dialog-close]="true"
          color="primary"
          [disabled]="!addUsersForm.form.valid"
          *ngIf="
            ((tokenValues.userLoggedIn && tokenValues.isDeveloper) ||
              (tokenValues.permissionsList &&
                tokenValues.permissionsList.includes(
                  permissionsNames.addUser
                ))) &&
            actionType &&
            actionType === site.operation.add
          "
          (click)="addUser(user)"
          class="m-1"
        >
          {{ 'Actions.Save' | translate }}<mat-icon>save</mat-icon>
        </button>

        <button
          mat-raised-button
          [mat-dialog-close]="true"
          color="primary"
          [disabled]="!addUsersForm.form.valid || busy"
          *ngIf="
            ((tokenValues.userLoggedIn && tokenValues.isDeveloper) ||
              (tokenValues.permissionsList &&
                tokenValues.permissionsList.includes(
                  permissionsNames.updateUser
                ))) &&
            actionType &&
            actionType === site.operation.update
          "
          (click)="updateUser(user)"
          class="m-1"
        >
          {{ 'Actions.Update' | translate }}<mat-icon>save</mat-icon>
        </button>

        <button
          mat-raised-button
          [mat-dialog-close]="true"
          color="danger"
          (click)="resetActionTypeToClose()"
          class="m-1"
        >
          {{ 'Actions.Close' | translate }}
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </form>
  </fieldset>
</ng-template>

<ng-template #showSearch>
  <fieldset>
    <div class="model-header">
      <p class="text-center">
        {{ 'Actions.Search' | translate }}
      </p>
    </div>
    <form #searchUserForm="ngForm">
      <fieldset>
        <div class="row">
          <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-sm-12">
            <mat-label>{{ 'Forms.Name' | translate }} </mat-label>
            <input
              matInput
              [(ngModel)]="user.name"
              placeholder="{{ 'Forms.Name' | translate }}"
              name="search-user-name"
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-sm-12">
            <mat-label>{{ 'Forms.Mobile' | translate }} </mat-label>
            <input
              matInput
              [(ngModel)]="user.mobile"
              placeholder="{{ 'Forms.Mobile' | translate }}"
              name="search-user-mobile"
              autocomplete="off"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-sm-12">
            <mat-label>{{ 'Forms.Email' | translate }} </mat-label>
            <input
              matInput
              [(ngModel)]="user.email"
              placeholder="{{ 'Forms.Email' | translate }}"
              name="search-user-email"
              autocomplete="off"
            />
          </mat-form-field>
        </div>
      </fieldset>
      <div class="actions-buttons">
        <button
          mat-raised-button
          [mat-dialog-close]="true"
          color="primary"
          [disabled]="!searchUserForm.form.valid || busy"
          (click)="searchUser(user)"
          class="m-1"
        >
          {{ 'Actions.Search' | translate }}<mat-icon>search</mat-icon>
        </button>

        <button
          mat-raised-button
          [mat-dialog-close]="true"
          color="danger"
          (click)="resetActionTypeToClose()"
          class="m-1"
        >
          {{ 'Actions.Close' | translate }}
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </form>
  </fieldset>
</ng-template>

<div
  class="result"
  *ngIf="
    usersList &&
    usersList.length &&
    (actionType === site.operation.result ||
      actionType === site.operation.update ||
      actionType === site.operation.getAll)
  "
>
  <div class="table-responsive" id="usersList">
    <table class="table table-sm table-striped align-middle table-hover">
      <thead>
        <tr class="table-dark">
          <th>{{ 'Forms.S' | translate }}</th>
          <th>{{ 'Forms.Name' | translate }}</th>
          <th>{{ 'Forms.Mobile' | translate }}</th>
          <th>{{ 'Forms.Email' | translate }}</th>
          <th>{{ 'Forms.Language' | translate }}</th>
          <th>{{ 'Forms.Status' | translate }}</th>
          <th>{{ 'Actions.Actions' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersList; let i = index">
          <td>
            <p class="text-center">{{ i + 1 }}</p>
          </td>
          <td>
            <p class="text-center">{{ user.name }}</p>
          </td>
          <td>
            <p class="text-center">{{ user.mobile }}</p>
          </td>
          <td>
            <p class="text-center">{{ user.email }}</p>
          </td>
          <td>
            <p class="text-center">{{ user.language.name }}</p>
          </td>

          <td>
            <p *ngIf="user.active" class="status-active">
              {{ 'Forms.Active' | translate }}
            </p>
            <p *ngIf="!user.active" class="status-not-active">
              {{ 'Forms.Not-Active' | translate }}
            </p>
          </td>
          <td>
            <button
              mat-mini-fab
              color="edit"
              (click)="
                setData(user);
                displayUpdate(showAdd);
                actionType = site.operation.update
              "
              *ngIf="
                (tokenValues.userLoggedIn && tokenValues.isDeveloper) ||
                (tokenValues.permissionsList &&
                  tokenValues.permissionsList.includes(
                    permissionsNames.updateUser
                  ))
              "
              class="m-1"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-mini-fab
              color="info"
              (click)="showDetails(userDetails); setDetailsData(user)"
              class="m-1"
            >
              <mat-icon>view_list</mat-icon>
            </button>

            <button
              mat-mini-fab
              color="danger"
              (click)="deleteUser(user)"
              *ngIf="
                (tokenValues.userLoggedIn && tokenValues.isDeveloper) ||
                (tokenValues.permissionsList &&
                  tokenValues.permissionsList.includes(
                    permissionsNames.deleteUser
                  ))
              "
              class="m-1"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="paginiantion">
  <div *ngIf="actionType === site.operation.getAll">
    <paginator
      (pageChange)="getAllUsers($event)"
      [paginationData]="responsePaginationData"
    >
    </paginator>
  </div>

  <div *ngIf="actionType === site.operation.result">
    <paginator
      (pageChange)="searchUser(user, $event)"
      *ngIf="usersList && usersList.length"
      [paginationData]="responsePaginationData"
    >
    </paginator>
  </div>
</div>

<ng-template #userDetails>
  <fieldset>
    <div class="model-header">
      <p class="text-center">{{ 'Actions.Details' | translate }}</p>
    </div>
    <fieldset>
      <div class="table-responsive">
        <table class="table table-sm table-striped align-middle table-hover">
          <thead>
            <tr class="table-dark">
              <th>{{ 'Forms.Name' | translate }}</th>
              <th>{{ 'Forms.Mobile' | translate }}</th>
              <th>{{ 'Forms.Email' | translate }}</th>
              <th>{{ 'Forms.Language' | translate }}</th>

              <th>{{ 'Forms.Status' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p class="text-center">{{ user.name }}</p>
              </td>
              <td>
                <p class="text-center">{{ user.mobile }}</p>
              </td>
              <td>
                <p class="text-center">{{ user.email }}</p>
              </td>
              <td>
                <p class="text-center">{{ user.language.name }}</p>
              </td>

              <td>
                <p *ngIf="user.active" class="status-active">
                  {{ 'Forms.Active' | translate }}
                </p>
                <p *ngIf="!user.active" class="status-not-active">
                  {{ 'Forms.Not-Active' | translate }}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-responsive" *ngIf="user.routesList">
        <table class="table table-sm table-striped align-middle table-hover">
          <thead>
            <tr class="table-dark">
              <th>{{ 'Forms.S' | translate }}</th>
              <th>{{ 'Forms.Route-Ar' | translate }}</th>
              <th>{{ 'Forms.Route-En' | translate }}</th>
              <th>{{ 'Menu.Permissions' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let route of user.routesList; let i = index">
              <td>
                <p class="text-center">{{ i + 1 }}</p>
              </td>
              <td>
                <p class="text-center">{{ route.ar }}</p>
              </td>
              <td>
                <p class="text-center">{{ route.en }}</p>
              </td>

              <td>
                <div class="table-responsive">
                  <table
                    class="table table-sm table-striped align-middle table-hover"
                  >
                    <thead>
                      <tr class="table-dark">
                        <th>{{ 'Forms.Permission-Ar' | translate }}</th>
                        <th>{{ 'Forms.Permission-En' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let permission of route.permissionsList;
                          let i = index
                        "
                      >
                        <td *ngIf="permission.active">
                          <p class="text-center">{{ permission.ar }}</p>
                        </td>
                        <td *ngIf="permission.active">
                          <p class="text-center">{{ permission.en }}</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </fieldset>
    <div class="actions-buttons">
      <button mat-raised-button color="danger" [mat-dialog-close]="true">
        {{ 'Actions.Close' | translate }}
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </fieldset>
</ng-template>

<spinner [busy]="busy"></spinner>
