<div class="actions-buttons">
  <button mat-raised-button color="success" (click)="resetModel(site.operation.add); showDialog(site.dialogNames.add,showAdd)" *ngIf="
      tokenValues.userLoggedIn &&
      tokenValues.permissionsList &&
      tokenValues.permissionsList.includes(permissionsNames.addCity)
    " [disabled]="busy">
    {{ 'Actions.Add' | translate }}
    <mat-icon>add</mat-icon>
  </button>

  <button mat-raised-button color="search" (click)="resetModel(site.operation.search); showDialog(site.dialogNames.search,showSearch)"
    [disabled]="busy">
    {{ 'Actions.Search' | translate }}
    <mat-icon>search</mat-icon>
  </button>

  <button mat-raised-button color="info" (click)="exportDataToExcel('citiesList', 'cities')" [disabled]="busy" *ngIf="
      tokenValues.userLoggedIn &&
      tokenValues.permissionsList &&
      tokenValues.permissionsList.includes(permissionsNames.exportCities)
    ">
    {{ 'Actions.Export' | translate }}
    <mat-icon>import_export</mat-icon>
  </button>
</div>

<ng-template #showAdd>
  <fieldset>
    <div class="model-header">
      <p class="text-center" *ngIf="actionType === site.operation.add">
        {{ 'Actions.Add' | translate }}
      </p>
      <p class="text-center" *ngIf="actionType === site.operation.update">
        {{ 'Actions.Update' | translate }}
      </p>
    </div>

    <form #addCityForm="ngForm">
      <fieldset>
        <legend>
          <p class="legend">{{ 'Legends.Basic-Informations' | translate }}</p>
        </legend>

        <div class="row">
          <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-sm-12">
            <mat-label>{{ 'Forms.Gov' | translate }} </mat-label>
            <mat-select matNativeControl [(ngModel)]="city.gov" required name="city-gov">
              <mat-option [value]="gov" *ngFor="let gov of govsList">{{
                gov.name
                }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-sm-12">
            <mat-label>{{ 'Forms.Name' | translate }} </mat-label>
            <input matInput [(ngModel)]="city.name" placeholder="{{ 'Forms.Name' | translate }}" name="city-name" autofocus required
              minlength="{{ inputsLength.cityName }}" autocomplete="off" />
          </mat-form-field>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-checkbox class="margin" [(ngModel)]="city.active" name="gov-status" color="primary">
              {{ 'Forms.Active' | translate }}
            </mat-checkbox>
          </div>
        </div>
      </fieldset>
      <div class="actions-buttons">
        <button mat-raised-button [mat-dialog-close]="true" color="primary" [disabled]="!addCityForm.form.valid || busy" *ngIf="
            tokenValues.userLoggedIn &&
            tokenValues.permissionsList &&
            tokenValues.permissionsList.includes(permissionsNames.addCity) &&
            actionType &&
            actionType === site.operation.add
          " (click)="addCity(city)" class="m-1">
          {{ 'Actions.Save' | translate }}<mat-icon>save</mat-icon>
        </button>

        <button mat-raised-button [mat-dialog-close]="true" color="primary" [disabled]="!addCityForm.form.valid || busy" *ngIf="
            tokenValues.userLoggedIn &&
            tokenValues.permissionsList &&
            tokenValues.permissionsList.includes(permissionsNames.updateCity) &&
            actionType &&
            actionType === site.operation.update
          " (click)="updateCity(city)" class="m-1">
          {{ 'Actions.Update' | translate }}<mat-icon>save</mat-icon>
        </button>

        <button mat-raised-button [mat-dialog-close]="true" color="danger" (click)="resetActionTypeToClose()" class="m-1">
          {{ 'Actions.Close' | translate }}
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </form>
  </fieldset>
</ng-template>

<ng-template #showSearch>
  <fieldset>
    <div class="model-header">
      <p class="text-center">
        {{ 'Actions.Search' | translate }}
      </p>
    </div>
    <form #searchCityForm="ngForm">
      <fieldset>
        <div class="row">
          <mat-form-field appearance="outline" class="col-lg-4 col-md-6 col-sm-12">
            <mat-label>{{ 'Forms.Gov' | translate }} </mat-label>
            <mat-select matNativeControl [(ngModel)]="city.gov" required name="search-city-gov">
              <mat-option [value]="gov" *ngFor="let gov of govsList">{{
                gov.name
                }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-3">
            <mat-label>{{ 'Forms.Name' | translate }} </mat-label>
            <input matInput [(ngModel)]="city.name" placeholder="{{ 'Forms.Name' | translate }}" name="search-city-name" autocomplete="off" />
          </mat-form-field>
        </div>
      </fieldset>
      <div class="actions-buttons">
        <button mat-raised-button [mat-dialog-close]="true" color="primary" [disabled]="!searchCityForm.form.valid || busy" (click)="searchCity(city)"
          class="m-1">
          {{ 'Actions.Search' | translate }}<mat-icon>search</mat-icon>
        </button>

        <button mat-raised-button [mat-dialog-close]="true" color="danger" (click)="resetActionTypeToClose()" class="m-1">
          {{ 'Actions.Close' | translate }}
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </form>
  </fieldset>
</ng-template>

<div class="container result" *ngIf="
    citiesList &&
    citiesList.length &&
    (actionType === site.operation.result ||
      actionType === site.operation.getAll)
  ">
  <div class="table-responsive" id="citiesList">
    <table class="table table-sm table-striped align-middle table-hover">
      <thead>
        <tr class="table-dark">
          <th>{{ 'Forms.S' | translate }}</th>
          <th>{{ 'Forms.Gov' | translate }}</th>
          <th>{{ 'Forms.Name' | translate }}</th>
          <th>{{ 'Forms.Status' | translate }}</th>
          <th class="no_print">{{ 'Actions.Actions' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let city of citiesList; let i = index">
          <td>
            <p class="text-center">{{ i + 1 }}</p>
          </td>
          <td>
            <p class="text-center">{{ city.gov.name }}</p>
          </td>
          <td>
            <p class="text-center">{{ city.name }}</p>
          </td>

          <td>
            <p *ngIf="city.active" class="status-active">
              {{ 'Forms.Active' | translate }}
            </p>
            <p *ngIf="!city.active" class="status-not-active">
              {{ 'Forms.Not-Active' | translate }}
            </p>
          </td>
          <td class="no_print">
            <div class="row-buttons">
              <button mat-mini-fab color="edit" (click)="
                  viewCity(city);
                  showDialog(site.dialogNames.add,showAdd);
                  actionType = site.operation.update
                " *ngIf="
                  tokenValues.userLoggedIn &&
                  tokenValues.permissionsList &&
                  tokenValues.permissionsList.includes(
                    permissionsNames.updateCity
                  )
                " matTooltipClass="tooltip" matTooltip="{{ 'Actions.Update' | translate }}" #tooltip="matTooltip" [matTooltipPosition]="
                  getGlobalSetting.displaySetting.showTooltip
                    ? getGlobalSetting.displaySetting.tooltipPosition
                    : 'null'
                ">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-mini-fab color="info" (click)="showDialog(site.dialogNames.details,cityDetails); viewCity(city)" matTooltipClass="tooltip"
                matTooltip="{{ 'Actions.Details' | translate }}" #tooltip="matTooltip" [matTooltipPosition]="
                  getGlobalSetting.displaySetting.showTooltip
                    ? getGlobalSetting.displaySetting.tooltipPosition
                    : 'null'
                ">
                <mat-icon>view_list</mat-icon>
              </button>

              <button mat-mini-fab color="danger" (click)="deleteCity(city)" *ngIf="
                  tokenValues.userLoggedIn &&
                  tokenValues.permissionsList &&
                  tokenValues.permissionsList.includes(
                    permissionsNames.deleteCity
                  )
                " matTooltipClass="tooltip" matTooltip="{{ 'Actions.Delete' | translate }}" #tooltip="matTooltip" [matTooltipPosition]="
                  getGlobalSetting.displaySetting.showTooltip
                    ? getGlobalSetting.displaySetting.tooltipPosition
                    : 'null'
                ">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="paginiantion">
  <div *ngIf="actionType === site.operation.getAll">
    <paginator (pageChange)="getAllCities($event)" [paginationData]="responsePaginationData">
    </paginator>
  </div>

  <div *ngIf="actionType === site.operation.result">
    <paginator (pageChange)="searchCity(city, $event)" *ngIf="citiesList && citiesList.length" [paginationData]="responsePaginationData">
    </paginator>
  </div>
</div>

<ng-template #cityDetails>
  <fieldset>
    <div class="model-header">
      <p class="text-center">{{ 'Actions.Details' | translate }}</p>
    </div>
    <fieldset>
      <div class="table-responsive">
        <table class="table table-sm table-striped align-middle table-hover">
          <thead>
            <tr class="table-dark">
              <th>{{ 'Forms.Gov' | translate }}</th>
              <th>{{ 'Forms.Name' | translate }}</th>
              <th>{{ 'Forms.Status' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p class="text-center">{{ city.gov.name }}</p>
              </td>
              <td>
                <p class="text-center">{{ city.name }}</p>
              </td>

              <td>
                <p *ngIf="city.active" class="status-active">
                  {{ 'Forms.Active' | translate }}
                </p>
                <p *ngIf="!city.active" class="status-not-active">
                  {{ 'Forms.Not-Active' | translate }}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </fieldset>

    <record-details [addInfo]="city.addInfo" *ngIf="getGlobalSetting.displaySetting.displayRecordDetails">
    </record-details>
    <record-details [lastUpdateInfo]="city.lastUpdateInfo" *ngIf="getGlobalSetting.displaySetting.displayRecordDetails">
    </record-details>
    <button mat-raised-button color="danger" [mat-dialog-close]="true">
      {{ 'Actions.Close' | translate }}
      <mat-icon>close</mat-icon>
    </button>
  </fieldset>
</ng-template>

<spinner [busy]="busy"></spinner>
<message *ngIf="systemMessage.show" [systemMessage]="systemMessage" (action)="getUserAction($event)">
</message>