<p>message works!</p>

<ng-template #systemMessageTemplate>
  <fieldset>
    <div class="{{ systemMessage.titleClass }}">
      <p class="text-center">{{ systemMessage.title | translate }}</p>
    </div>
    <fieldset>
      <h2 class="text-center">{{ displayMessage }}</h2>

    </fieldset>

    <div class="actions-buttons">
      <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="accept()">
        {{ 'Forms.Yes' | translate }}
        <mat-icon>check</mat-icon>
      </button>

      <button mat-raised-button color="danger" [mat-dialog-close]="true" (click)="resetMessage()">
        {{ 'Actions.Close' | translate }}
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </fieldset>
</ng-template>
