<div class="actions-buttons">
  <button
    mat-raised-button
    color="success"
    (click)="resetModel(site.operation.add); displayAdd(showAdd)"
    *ngIf="tokenValues.userLoggedIn && tokenValues.isDeveloper"
    [disabled]="busy"
    class="m-1"
  >
    {{ 'Actions.Add' | translate }}
    <mat-icon>add</mat-icon>
  </button>

  <button
    mat-raised-button
    color="search"
    (click)="resetModel(site.operation.search); displaySearch(showSearch)"
    *ngIf="tokenValues.userLoggedIn && tokenValues.isDeveloper"
    [disabled]="busy"
    class="m-1"
  >
    {{ 'Actions.Search' | translate }}
    <mat-icon>search</mat-icon>
  </button>

  <button
    mat-raised-button
    color="info"
    (click)="exportDataToExcel('routesList', 'routes')"
    *ngIf="tokenValues.userLoggedIn && tokenValues.isDeveloper"
    [disabled]="busy"
    class="m-1"
  >
    {{ 'Actions.Export' | translate }}
    <mat-icon>import_export</mat-icon>
  </button>
</div>

<ng-template #showAdd>
  <fieldset>
    <div class="model-header">
      <p class="text-center" *ngIf="actionType === site.operation.add">
        {{ 'Actions.Add' | translate }}
      </p>
      <p class="text-center" *ngIf="actionType === site.operation.update">
        {{ 'Actions.Update' | translate }}
      </p>
    </div>

    <form #addRouteForm="ngForm">
      <fieldset>
        <legend>
          <p class="legend">{{ 'Legends.Basic-Informations' | translate }}</p>
        </legend>

        <div class="row">
          <mat-form-field appearance="outline" class="col-sm-3">
            <mat-label>{{ 'Forms.Route' | translate }} </mat-label>
            <input
              matInput
              [(ngModel)]="route.name"
              placeholder="{{ 'Forms.Route' | translate }}"
              name="route-name"
              autofocus
              required
              minlength="{{ inputsLength.routeName }}"
              autocomplete="off"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-sm-3">
            <mat-label>{{ 'Forms.Route-En' | translate }} </mat-label>
            <input
              matInput
              [(ngModel)]="route.en"
              placeholder="{{ 'Forms.Route-En' | translate }}"
              name="route-name-en"
              required
              minlength="{{ inputsLength.routeName }}"
              autocomplete="off"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-sm-3">
            <mat-label>{{ 'Forms.Route-Ar' | translate }} </mat-label>
            <input
              matInput
              [(ngModel)]="route.ar"
              placeholder="{{ 'Forms.Route-Ar' | translate }}"
              name="route-name-ar"
              required
              minlength="{{ inputsLength.routeName }}"
              autocomplete="off"
            />
          </mat-form-field>

          <div class="col-sm-2">
            <mat-checkbox
              matInput
              [(ngModel)]="route.active"
              name="route-status"
              color="primary"
            >
              {{ 'Forms.Active' | translate }}
            </mat-checkbox>
          </div>
        </div>

        <fieldset>
          <legend>
            <p class="legend">{{ 'Menu.Permissions' | translate }}</p>
          </legend>
          <form #addPermissionForm="ngForm">
            <div class="row">
              <mat-form-field appearance="outline" class="col-sm-3">
                <mat-label>{{ 'Forms.Permission' | translate }} </mat-label>
                <input
                  matInput
                  [(ngModel)]="permission.name"
                  placeholder="{{ 'Forms.Permission' | translate }}"
                  name="permission-name"
                  autofocus
                  required
                  minlength="{{ inputsLength.permissionName }}"
                  autocomplete="off"
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-sm-4">
                <mat-label>{{ 'Forms.Permission-En' | translate }} </mat-label>
                <input
                  matInput
                  [(ngModel)]="permission.en"
                  placeholder="{{ 'Forms.Permission-En' | translate }}"
                  name="permission-name-en"
                  required
                  minlength="{{ inputsLength.permissionName }}"
                  autocomplete="off"
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-sm-4">
                <mat-label>{{ 'Forms.Permission-Ar' | translate }} </mat-label>
                <input
                  matInput
                  [(ngModel)]="permission.ar"
                  placeholder="{{ 'Forms.Permission-Ar' | translate }}"
                  name="permission-name-ar"
                  required
                  minlength="{{ inputsLength.permissionName }}"
                  autocomplete="off"
                />
              </mat-form-field>
              <div class="col-sm-1">
                <button
                  mat-mini-fab
                  color="primary"
                  [disabled]="addPermissionForm.form.invalid || busy"
                  (click)="pushPermissionToPermissionsList(permission)"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <div class="table-responsive">
              <table
                *ngIf="route.permissionsList.length"
                class="table table-sm table-striped align-middle table-hover"
              >
                <thead>
                  <tr class="table-dark">
                    <th>{{ 'Forms.S' | translate }}</th>
                    <th>{{ 'Forms.Permission' | translate }}</th>
                    <th>{{ 'Forms.Permission-En' | translate }}</th>
                    <th>{{ 'Forms.Permission-Ar' | translate }}</th>
                    <th>{{ 'Forms.Status' | translate }}</th>
                    <th>{{ 'Actions.Actions' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let permission of route.permissionsList;
                      let i = index
                    "
                  >
                    <td>
                      <p class="text-center">{{ i + 1 }}</p>
                    </td>

                    <td>
                      <input
                        matInput
                        [(ngModel)]="permission.name"
                        name="permission-list-item-name"
                        autofocus
                        required
                        [ngModelOptions]="{ standalone: true }"
                        minlength="{{ inputsLength.permissionName }}"
                        autocomplete="off"
                      />
                    </td>
                    <td>
                      <input
                        matInput
                        [(ngModel)]="permission.en"
                        name="permission-list-item-name-en"
                        required
                        required
                        [ngModelOptions]="{ standalone: true }"
                        minlength="{{ inputsLength.permissionName }}"
                        autocomplete="off"
                      />
                    </td>

                    <td>
                      <input
                        matInput
                        [(ngModel)]="permission.ar"
                        name="permission-list-item-name-ar"
                        required
                        required
                        [ngModelOptions]="{ standalone: true }"
                        minlength="{{ inputsLength.permissionName }}"
                        autocomplete="off"
                      />
                    </td>
                    <td>
                      <p *ngIf="permission.active" class="status-active">
                        {{ 'Forms.Active' | translate }}
                        <mat-checkbox
                          class="margin"
                          [(ngModel)]="permission.active"
                          required
                          [ngModelOptions]="{ standalone: true }"
                          name="permission-list-item-status"
                          color="primary"
                        >
                        </mat-checkbox>
                      </p>
                      <p *ngIf="!permission.active" class="status-not-active">
                        {{ 'Forms.Not-Active' | translate }}
                        <mat-checkbox
                          class="margin"
                          [(ngModel)]="permission.active"
                          name="permission-list-item-status"
                          color="primary"
                        >
                        </mat-checkbox>
                      </p>
                    </td>
                    <td>
                      <button
                        mat-mini-fab
                        color="danger"
                        (click)="removeUnitFromUnitsList(permission)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </fieldset>
      </fieldset>
      <div class="actions-buttons">
        <button
          mat-raised-button
          [mat-dialog-close]="true"
          color="primary"
          [disabled]="!addRouteForm.form.valid || busy"
          *ngIf="
            actionType &&
            actionType === site.operation.add &&
            tokenValues.userLoggedIn &&
            tokenValues.isDeveloper
          "
          (click)="addRoute(route)"
          class="m-1"
        >
          {{ 'Actions.Save' | translate }}<mat-icon>save</mat-icon>
        </button>

        <button
          mat-raised-button
          [mat-dialog-close]="true"
          color="primary"
          [disabled]="!addRouteForm.form.valid || busy"
          *ngIf="
            actionType &&
            actionType === site.operation.update &&
            tokenValues.userLoggedIn &&
            tokenValues.isDeveloper
          "
          (click)="updateRoute(route)"
          class="m-1"
        >
          {{ 'Actions.Update' | translate }}<mat-icon>save</mat-icon>
        </button>

        <button
          mat-raised-button
          [mat-dialog-close]="true"
          color="danger"
          (click)="resetActionTypeToClose()"
        >
          {{ 'Actions.Close' | translate }}
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </form>
  </fieldset>
</ng-template>

<ng-template #showSearch>
  <fieldset>
    <div class="model-header">
      <p class="text-center">
        {{ 'Actions.Search' | translate }}
      </p>
    </div>
    <form #searchRouteForm="ngForm">
      <fieldset>
        <div class="row">
          <mat-form-field appearance="outline" class="col-sm-3">
            <mat-label>{{ 'Forms.Route' | translate }} </mat-label>
            <input
              matInput
              [(ngModel)]="route.name"
              placeholder="{{ 'Forms.Route' | translate }}"
              name="search-Route"
              autocomplete="off"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-sm-3">
            <mat-label>{{ 'Forms.Route-Ar' | translate }} </mat-label>
            <input
              matInput
              [(ngModel)]="route.ar"
              placeholder="{{ 'Forms.Route-Ar' | translate }}"
              name="search-Route-ar"
              autocomplete="off"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-sm-3">
            <mat-label>{{ 'Forms.Route-En' | translate }} </mat-label>
            <input
              matInput
              [(ngModel)]="route.en"
              placeholder="{{ 'Forms.Route-En' | translate }}"
              name="search-Route-en"
              autocomplete="off"
            />
          </mat-form-field>
        </div>
      </fieldset>
      <div class="actions-buttons">
        <button
          mat-raised-button
          [mat-dialog-close]="true"
          color="primary"
          [disabled]="!searchRouteForm.form.valid || busy"
          *ngIf="tokenValues.userLoggedIn && tokenValues.isDeveloper"
          (click)="searchRoute(route)"
          class="m-1"
        >
          {{ 'Actions.Search' | translate }}<mat-icon>search</mat-icon>
        </button>

        <button
          mat-raised-button
          [mat-dialog-close]="true"
          color="danger"
          (click)="resetActionTypeToClose()"
          class="m-1"
        >
          {{ 'Actions.Close' | translate }}
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </form>
  </fieldset>
</ng-template>

<div
  class="result"
  *ngIf="
    routesList &&
    routesList.length &&
    (actionType === site.operation.result ||
      actionType === site.operation.getAll)
  "
>
  <div class="table-responsive" id="routesList">
    <table class="table table-sm table-striped align-middle table-hover">
      <thead>
        <tr class="table-dark">
          <th>{{ 'Forms.S' | translate }}</th>
          <th>{{ 'Forms.Route' | translate }}</th>
          <th>{{ 'Forms.Route-En' | translate }}</th>
          <th>{{ 'Forms.Route-Ar' | translate }}</th>
          <th>{{ 'Forms.Status' | translate }}</th>
          <th class="no_print">{{ 'Actions.Actions' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of routesList; let i = index">
          <td>
            <p class="text-center">{{ i + 1 }}</p>
          </td>
          <td>
            <p class="text-center">{{ route.name }}</p>
          </td>
          <td>
            <p class="text-center">{{ route.en }}</p>
          </td>
          <td>
            <p class="text-center">{{ route.ar }}</p>
          </td>
          <td>
            <p *ngIf="route.active" class="status-active">
              {{ 'Forms.Active' | translate }}
            </p>
            <p *ngIf="!route.active" class="status-not-active">
              {{ 'Forms.Not-Active' | translate }}
            </p>
          </td>
          <td class="no_print">
            <button
              mat-mini-fab
              color="edit"
              (click)="
                setData(route);
                displayUpdate(showAdd);
                actionType = site.operation.update
              "
              *ngIf="tokenValues.userLoggedIn && tokenValues.isDeveloper"
              class="m-1"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-mini-fab
              color="info"
              (click)="showDetails(routeDetails); setData(route)"
              *ngIf="tokenValues.userLoggedIn && tokenValues.isDeveloper"
              class="m-1"
            >
              <mat-icon>view_list</mat-icon>
            </button>

            <button
              mat-mini-fab
              color="danger"
              (click)="deleteRoute(route)"
              class="m-1"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="paginiantion">
  <div *ngIf="actionType === site.operation.getAll">
    <paginator
      (pageChange)="getAllRouts($event)"
      [paginationData]="responsePaginationData"
    >
    </paginator>
  </div>

  <div *ngIf="actionType === site.operation.result">
    <paginator
      (pageChange)="searchRoute(route, $event)"
      *ngIf="routesList && routesList.length"
      [paginationData]="responsePaginationData"
    >
    </paginator>
  </div>
</div>

<ng-template #routeDetails>
  <fieldset>
    <div class="model-header">
      <p class="text-center">{{ 'Actions.Details' | translate }}</p>
    </div>
    <fieldset>
      <div class="table-responsive">
        <table class="table table-sm table-striped align-middle table-hover">
          <tbody>
            <tr>
              <td>{{ 'Forms.Route' | translate }}</td>
              <td>
                <p class="text-center">{{ route.name }}</p>
              </td>
            </tr>
            <tr>
              <td>{{ 'Forms.Route-En' | translate }}</td>
              <td>
                <p class="text-center">{{ route.en }}</p>
              </td>
            </tr>
            <tr>
              <td>{{ 'Forms.Route-Ar' | translate }}</td>
              <td>
                <p class="text-center">{{ route.ar }}</p>
              </td>
            </tr>
            <tr>
              <td>{{ 'Forms.Status' | translate }}</td>
              <td>
                <p *ngIf="route.active" class="status-active">
                  {{ 'Forms.Active' | translate }}
                </p>
                <p *ngIf="!route.active" class="status-not-active">
                  {{ 'Forms.Not-Active' | translate }}
                </p>
              </td>
            </tr>
            <tr>
              <td>{{ 'Menu.Permissions' | translate }}</td>
              <td>
                <table
                  class="table table-sm table-striped align-middle table-hover"
                >
                  <thead>
                    <tr class="table-dark">
                      <td>{{ 'Forms.Permission' | translate }}</td>
                      <td>{{ 'Forms.Permission-En' | translate }}</td>
                      <td>{{ 'Forms.Permission-Ar' | translate }}</td>
                      <td>{{ 'Forms.Status' | translate }}</td>
                    </tr>
                  </thead>
                  <tbody class="tebale-dark">
                    <tr
                      *ngFor="
                        let permission of route.permissionsList;
                        let i = index
                      "
                    >
                      <td>
                        <p class="text-center">{{ permission.name }}</p>
                      </td>

                      <td>
                        <p class="text-center">{{ permission.en }}</p>
                      </td>

                      <td>
                        <p class="text-center">{{ permission.ar }}</p>
                      </td>

                      <td>
                        <p *ngIf="permission.active" class="status-active">
                          {{ 'Forms.Active' | translate }}
                        </p>
                        <p *ngIf="!permission.active" class="status-not-active">
                          {{ 'Forms.Not-Active' | translate }}
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </fieldset>
    <div class="actions-buttons">
      <button mat-raised-button color="danger" [mat-dialog-close]="true">
        {{ 'Actions.Close' | translate }}
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </fieldset>
</ng-template>

<spinner [busy]="busy"></spinner>
