.currentLanguage {
  // margin: 3px;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

hr {
  margin: 10px;
}

// .mat-mdc-menu-panel {
//   width: 100%;
// }

