<div class="container-fluid">
  <fieldset>
    <div class="add-details-header">
      <p class="text-center">
        {{ 'Legends.Display-Settings' | translate }}
      </p>
    </div>

    <form #setSystemSettingForm="ngForm">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <mat-checkbox
            class="margin"
            [(ngModel)]="globalSetting.displaySetting.displayRecordDetails"
            name="displaySetting-displayRecordDetails"
            color="primary"
          >
            {{ 'Forms.Display-Record-Details' | translate }}
          </mat-checkbox>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <mat-checkbox
            class="margin"
            [(ngModel)]="globalSetting.displaySetting.showTooltip"
            name="displaySetting-showTooltip"
            color="primary"
          >
            {{ 'Forms.Show-Tooltip' | translate }}
          </mat-checkbox>
        </div>

        <mat-form-field
          appearance="outline"
          class="col-lg-2 col-md-3 col-sm-6"
        >
          <mat-label>{{ 'Forms.Tooltip-Position' | translate }} </mat-label>
          <mat-select
            matNativeControl
            [(ngModel)]="globalSetting.displaySetting.tooltipPosition"
            required
            name="position"
          >
            <mat-option
              [value]="position"
              *ngFor="let position of tooltipPositionList"
              >{{ position.ar }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    <div class="actions-buttons">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!setSystemSettingForm.form.valid"
        (click)="setGlobalSystemSetting(globalSetting)"
      >
        {{ 'Actions.Save' | translate }}<mat-icon>save</mat-icon>
      </button>
    </div>
  </fieldset>
</div>
<spinner [busy]="busy"></spinner>
